---
import { Image } from "@astrojs/image/components";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import type { ArticleType } from "../types/article";
import "github-markdown-css/github-markdown.css";

export type Props = { content: ArticleType };
const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <a href="/" class="back">Retour</a>
      <article>
        <h2 class="title">{title}</h2>
        {
          heroImage && (
            <figure>
              <Image
                src={heroImage}
                alt=""
                width={500}
                aspectRatio={1}
                fit="contain"
                background="transparent"
                format="webp"
              />
            </figure>
          )
        }
        {pubDate && <time>{pubDate}</time>}

        <hr />
        <div class="markdown-body">
          <slot />
        </div>
      </article>
    </main>
    <style>
      main {
        width: max(60%, 18em);
        margin: 2rem auto;
      }
      .back {
        color: black;
      }
      figure {
        width: min(80%, 500px);
        margin: auto;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
      h2 {
        font-family: var(--font-secondary);
        font-size: 2rem;
        line-height: 2;
        margin-bottom: 2rem;
      }
      time {
        font-weight: 100;
        font-style: italic;
        font-size: 0.8rem;
        font-family: monospace;
      }
      .markdown-body {
        background-color: transparent;
      }
    </style>
  </body>
</html>
